html {

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
margin: 0;
background-color: #eaedf2;
font-family: 'roboto', sans-serif;
-webkit-overflow-scrolling: touch !important;
height: 100%;
width: 100%;
}

ol {
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
}

body.preload *{
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

.sidebar {
width: 260px;
height: 100%;
background-color: #263238;
color: white;
position: absolute;
z-index:4;
box-shadow: 0px 1px 5px black;
}

.content_desktop {
z-index:0;
position: absolute;
top: 57px;
bottom: 0px;
left: 260px;
right: 0px;
overflow-y: scroll;
overflow-x: hidden;
}

.content_mobile {
z-index:0;
position: absolute;
-webkit-overflow-scrolling: touch !important;
overflow-y: scroll !important;
overflow-x: hidden !important;
top: 58px;
bottom: 0px;
left: 0px;
right: 0px;
overscroll-behavior: none;
}

.overlay-m {
	position: fixed;
	width: 100%; 
	height: 100%; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 3;
}

.material-icons  {
  font-family: 'materialicons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.material-icons.sidebar-icons, .custom-icons.sidebar-icons  {
  font-size: 25px;
  padding-bottom: 4px;
  padding-right: 15px;
}

.custom-icons  {
  font-family: 'customicons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.title {
	width: 100%;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
    height: 30px;
}

.option {
padding-left: 18px;
width: calc(100% - 18px);
font-size: 22px;
text-align: left;
padding-top: 9px;
min-height: 36px;
color: #CFD8DC;
}

.option:hover {
background-color: #37474F;
color: white;
}

.option.active {
color: #29B6F6;
}

.shr {
width: 100%;
height: 1px;
background-color: #455A64;
}

a {
text-decoration: none;
}

.account {
position: absolute;
bottom: 0;
padding-left: 10px;
width: 250px;
font-size: 22px;
text-align: left;
padding-top: 9px;
min-height: 70px;
color: #CFD8DC;
}


.account:hover {
background-color: #37474F;
color: white;
}



.logout {
float: left;
padding-top: 1px;
}

.top_title {
    width: 100%;
    background-color: #263238;
    overflow: visible;
	box-shadow: 0px 1px 5px black;
}

.float_top {
    top:0;
    position:fixed;
    z-index:2;
    height:58px;
}

.page_left_icon {
	float: left;
    padding-top: 7px;
	padding-bottom: 0;
	padding-left: 8px;
    color: white;
    font-size: 43px;
	text-decoration: none;
	line-height: 0px;
	height: 51px;
}

.page_title {
    float: left;
    text-align: left;
    padding-top: 1px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    line-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 80px);
}

.so {
	top: 61.4px;
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	width: 260px;
	height: calc(100% - 144px);
	-webkit-overflow-scrolling: touch !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.side-scroll {
height: 100%;
}

@keyframes fadeIn {
  0% {
	opacity: 0;
  }
  100% {
    visibility: visible;
	opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
	opacity: 100%;
  }
  100% {
	opacity: 0;
  }
}

.afterFadeOut {
  transition-delay: 0.2s;
  display: none;
}

.afterSlideOut {
  transition-delay: 0.2s;
  display: none;
}

@keyframes slideIn {
  0% {
	left: -300px;
  }
  100% {
    visibility: visible;
	left: 0px;
  }
}

.slideIn {
	animation: 0.2s slideIn forwards;
}

.slideOut {
	animation: 0.2s slideOut forwards;
}

.fadeIn {
	animation: 0.2s fadeIn forwards;
}

.fadeOut {
	animation: 0.2s fadeOut forwards;
}

@keyframes slideOut {
  0% {
	left: 0px;
  }
  100% {
	left: -300px;
  }
}

.login_box {
height: 303px;
background-color: white;
position: absolute;
box-shadow: 0px 1px 5px gray;
}

h1 {
font-weight: 400 !important;
}

@media (max-width: 768px) {
.login_box {
width: 100%;
top: 50%;
margin: -225px 0 0 0;
}
}

@media (min-width: 769px) {
.login_box {
width: 400px;
top: 50%;
left: 50%;
margin: -225px 0 0 -200px;
}
}

#username {
width: 84%;
margin-left: 7%;
height: 32px;
border: 1px;
border-color: black;
border-radius: 2px;
border-style: solid;
color: #303030;
font-size: 16px;
padding-left: 6px;
}

.login_button {
padding: 10px 10px;
background-color: #7CB342;
width: 80px;
text-align: center;
float: right;
color: white;
font-size: 20px;
border-radius: 2px;
margin-top: 25px;
margin-right: calc(7% + 1px);
}

.button {
padding: 10px 17px;
background-color: #2196F3;
width: auto;
float:left; 
display:inline;
text-align: center;
color: white;
font-size: 20px;
border-radius: 2px;
margin-right: 15px;
}

#password {
margin-top: 25px;
width: 84%;
margin-left: 7%;
height: 32px;
border: 1px;
border-color: black;
border-radius: 2px;
border-style: solid;
color: #303030;
font-size: 16px;
padding-left: 6px;
}

.content_title {
    min-width: 100%;
    background-color: #2196F3;
    overflow: visible;
	box-shadow: 0px 1px 5px black;
    padding-top: 1px;
	color: white;
    font-size: 27px;
	text-decoration: none;
	line-height: 54px;
	padding-left: 15px;
	margin-left: 260px;
	position: absolute;
	z-index: 6;
	height: 55px;
}

.tabcontent {
min-width: 100%;
height: 100%;
}

.container {
background-color: white;
box-shadow: 0px 1px 5px gray;
word-wrap: break-word;
}

.panel_container {
  position: fixed;
  width: 90vw;
  /*height: 350px;*/
	top: calc(50% - 29px);
  left: 50%;
  transform: translate(-50%, -50%);
    z-index: 2000;
}

.panel-titleA {
	font-weight: 600;
	font-size: 23px;
	padding-top: 14px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 17px;
	width: calc(30vw - 32px);
	display: block;
}

@media (max-width: 768px) {
.container {
width: calc(100% - 20px);
padding: 10px 10px;
padding-top: 15px;
margin-bottom: 7px;
}
.panel-titleA {
	width: calc(90vw - 32px);
}
}

@media (min-width: 769px) {
.container {
margin-top: 60px;
width: calc(68% - 30px);
margin-left: 16%;
padding: 15px 15px;
}
.panel_container {
	width: 30vw;
	top: calc(43% - 29px);
}
}

.c_text {
width: calc(100% - 8px);
height: 30px;
font-size: 20px;
padding: 1px 3px;
border-color: black;
border-style: solid;
border-width: 1px;
border-radius: 0;
}

.c_textarea {
    width: calc(100% - 8px);
    height: 70px;
    resize: none;
    padding: 1px 3px;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: block;
    border-radius: 0;
    margin-top: 18px;
}

.new_account_button {
position: fixed;bottom: 0;left: 0;padding: 16px;font-size: 18px;
}

.new_account_button:hover {
color:dimgray;
cursor: pointer;
}

.button:hover {
background-color: #64B5F6;
}

.button.active{
background-color: #1565C0;
}

.button.red {
background-color: #F44336;
}

.button.red:hover {
background-color: #E57373;
}

.button.red.active {
background-color: #C62828;
}

.button.gray {
background-color: #9E9E9E;
}

.button.gray:hover {
background-color: #BDBDBD;
}

.button.gray.active {
background-color: #424242;
}

.login_button:hover {
background-color: #9CCC65;
}

.buttons {
overflow: hidden
}

.format_button {
padding: 0px 2px;
background-color: #555555;
width: auto;
float:left; 
display:inline;
text-align: center;
color: white;
font-size: 25px;
border-radius: 2px;
margin-right: 5px;
margin-bottom: 5px;
}

a {
cursor: pointer;
}



.spinner {
    animation: rotator 3s linear infinite;
    transform-origin: center;
  }

  @keyframes rotator {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
  }

  .path {
    stroke-dasharray: 265;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #3949ab;
    animation: dash 1.3s ease-in-out infinite;
  }

  @keyframes dash {
    0% { stroke-dashoffset: 255;}
    60% {
    stroke-dashoffset: 65;
    transform:rotate(90deg);
  }
  100% {
 stroke-dashoffset: 255;
transform:rotate(360deg);
}
  }
  
.login_spinner {
width: 60px; 
height: 60px; 
padding-top: 45px;
padding-left: calc(50% - 30px);
}

.real_spinner {
width: 80px; 
height: 80px; 
padding-top: 45px;
padding-bottom: 45px;
padding-left: calc(50% - 40px);
}


#login_error {
    float: left;
    padding-top: 35px;
    color: red;
    margin-left: 7%;
}

.fdbck {
	width: 100%;
	height: calc(100% + 49px);
	    border: none;
		    margin-top: -49px;
}

.content_mobile .fdbck {
	height: calc(100% + 36px);
		    margin-top: -36px;
}

.padding {
padding-top: 15px;
}

.panel_bk {
	position: fixed;
	width: 100%; 
	height: 100%; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1025;
}

.panel {
width: 100%;
height: 100%;
  background: #FFF;
  box-shadow: 0 1px 10px 0px black;
  font-size: 18px;
  border-radius: 4px;
}

.panel-contentA {
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 10px;
	word-wrap: break-word;
	font-size: 19px;
	text-decoration: none !important;
	color: black !important;
}

.panel-contentA a {
	text-decoration: none !important;
	color: black !important;
	font-size: 19px;
}

.panel-bottomA {
	font-size: 20px;
	padding-top: 10px;
	min-height: 58px;
}

#c_username {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dis_item {
width: 50%;
text-align:center;
float: left;
}

@media (max-width: 550px) {
.dis_item {
width: 100%;
margin-bottom: 50px;
}
}

.dis_items {
overflow: hidden;
padding-bottom: 15px;
}

.pt_t {
font-size: 19px;
text-align: center;
margin-bottom: 20px;
}

.pt_i .material-icons {
font-size: 80px;
}

.pt_i {
text-align: center;
}

.nf {
float: none;
margin-right: 0px;
}

input:disabled {
    -webkit-box-shadow: 0 0 0 30px rgb(235, 235, 228) inset;
}

.big_icon {
    font-size: 75px;
    padding: 5px;
}

.button_fr {
	float: right;
    margin-right: 0;
}

.lb2 {
height: 218px;
}

.lb {
    left: 20%;
    width: 60%;
    position: relative;
	cursor: pointer;
}

.lb2 .login_spinner {
    padding-top: 5px !important;
}

#everything_loader {
    display: block;
    top: 50%;
    left: 50%;
    position: fixed;
    height: 100px;
    width: 100px;
    transform: translate(-50%,-50%);
}

.profile_photo {
	position: absolute;
	height: 52px;
    left: 14px;
    top: 13px;
    border-radius: 30px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#p_error {
    color: red;
    padding-top: 6px;
}

.school_select {
    width: calc(50% - 20px);
    float: left;
    margin: 10px;
	cursor: pointer;
}

.school_select img {
    width: calc(100% - 10px);
    padding: 5px;
}

.school_select div {
    text-align: center;
    font-size: 21px;
	padding-bottom: 5px;
}

.school_selected {
    border-radius: 13px;
    border-color: black;
    border-style: solid;
    margin: 8px;
    border-width: 2px;
}

.approval_card {
    background-color: white;
    overflow: hidden;
    margin: 10px;
    margin-bottom: 0;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 1px 6px #9e9e9e;
    position: relative;
	opacity: 1;
    transition: 0.4s height, 0.4s opacity, 0.4s margin-top;
    height: 49.5px;
}

.app_left {
    float: left;
    width: 50px;
}

.app_left i {
	font-size: 50px;
}

.app_right {
    float: left;
    width: calc(100% - 50px);
}

.app_title {
    font-size: 20px;
    padding-left: 8px;
}

.app_desc {
    padding-left: 8px;
    font-size: 18px;
    padding-top: 2px;
}

.actionbar_item {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 22px;
    padding: 4px 0px;
}

.actionbar_item i {
    font-size: 28px;
    vertical-align: top;
    padding-right: 2px;
}

.ac_green {
	color: #43a047;
}

.ac_red {
	color: #e53935;
}

.expand_content {
	overflow: hidden;
	height: 0px;
    position: absolute;
    top: 0;
    width: calc(100% - 12px);
    padding: 6px 0px;
    opacity: 0;
	transition: 0.4s opacity;
}

.ov_h {
	overflow: hidden;
}

.actionbar {
	overflow: hidden;
}

.actionbar_disabled {
	pointer-events: none;
}

.actionbar_disabled .actionbar_item {
	color: gray !important;
}

.unexp {
	overflow: hidden;
	transition: 0.4s opacity;
}

.prof_top {
    text-align: center;
}

.prof_top img {
	height: 90px;
    border-radius: 45px;
    margin-top: 10px;
}

.prof_top div {
    font-size: 22px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.prof_detail {
    font-size: 18px;
    padding-bottom: 6px;
}

.prof_detail i {
    font-size: 23px;
    padding-right: 6px;
    vertical-align: top;
}

.prof_item .prof_detail {
    font-size: 20px;
}

.prof_item .prof_detail i {
    font-size: 25px;
}

.prof_item {
    padding-left: 2px;
    width: 100%;
}

.prof_details {
    padding-bottom: 6px;
    padding-top: 9px;
    display: inline-block;
    text-align: left;
}

.dismissed {
	pointer-events: none;
}

.post_item {
background-color: #616161;
height: 65px;
color: white;
border-radius: 3px;
margin-bottom: 15px;
}

.item_left {
padding: 5px 7px;
width: calc(100% - 107px);
float: left;
}

.item_right {
width: 93px;
float: left;
}

.rem_left {
padding: 5px 7px;
width: calc(100% - 149px);
float: left;
}

.rem_right {
width: 126px;
float: left;
}

.four_left {
	padding: 5px 7px;
    width: calc(100% - 191px);
    float: left;
}

.four_right {
    width: 174px;
    float: left;
}

.us_left {
padding: 5px 7px;
width: calc(100% - 65px);
float: left;
}

.us_right {
width: 42px;
float: left;
}

.item_icon {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 6px;
padding-right: 6px;
margin-top: 8px;
margin-bottom: 8px;
float: left;
border-radius: 2px;
}

.item_icon:hover {
background-color: #8c8c8c;
}

.item_icon .material-icons {
font-size: 30px;
}

.item_icon .riderappicons {
font-size: 30px;
}

.user {
    overflow: hidden;
    height: 42px;
    margin-bottom: 10px;
}

.user div:nth-child(1) {
    float: left;
    width: 42px;
}

.user div:nth-child(1) img {
    height: 42px;
    border-radius: 30px;
}

.user div:nth-child(2) {
    font-size: 20px;
    float: left;
    line-height: 43px;
    padding-left: 12px;
    width: calc(100% - 42px - 73px - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user div:nth-child(3) {
    float: left;
    font-size: 20px;
    line-height: 25px;
    padding-top: 8px;
    width: 73px;
    text-align: right;
}

.user div:nth-child(3) i {
    font-size: 26px;
    vertical-align: top;
    padding-left: 2px;
}

.group_title {
	font-size: 21px;
    padding-bottom: 10px;
    padding-top: 2px;
}

.assign {
    color: #057fe0;
    text-align: center !important;
    border-width: 1.5px;
    border-color: #057fe0;
    border-radius: 2px;
    border-style: solid;
    padding-bottom: 9px;
    margin-top: 5px;
    line-height: 12px !important;
}

.post_attach {
    height: 32px;
    margin-bottom: 10px;
	cursor: pointer;
	float: left;
	width: 100%;
}

.post_attach:hover {
    color: dimgrey;
}

.pa_left {
	float: left;
}

.pa_left .material-icons {
	font-size: 32px;
}

.pa_right {
    float: left;
    font-size: 22px;
    padding-top: 2px;
    padding-left: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
}


.profile_group_name {
    margin-top: -5px;
    font-size: 20px;
    padding-bottom: 12px;
}

.new_button {
    background-color: white;
    float: right;
    padding: 10px;
    font-size: 22px;
    border-radius: 50px;
    margin-right: 8px;
    margin-top: 12px;
    box-shadow: 0 1.5px 5px rgba(128, 128, 128, 0.7);
	transition: 0.3s box-shadow;
	cursor: pointer;
    margin-bottom: 8px;
}

.new_button i {
    font-size: 31px;
    vertical-align: top;
    line-height: 27px;
    padding-right: 3px;
    margin-left: -2px;
}

.new_button div {
    display: inline-block;
    padding-right: 5.5px;
}

.new_button:hover, .new_button:active {
    box-shadow: 0 3px 12px rgba(128, 128, 128, 0.8);
}

.task {
	background-color: white;
    margin-top: 4px;
    margin-left: 9px;
    margin-right: 9px;
    box-shadow: 0 1.5px 6px rgba(128, 128, 128, 0.7);
    border-radius: 8px;
    margin-bottom: 11px;
}

.task_top {
    overflow: hidden;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-color: #c3c3c3;
    padding-top: 2px;
    padding-bottom: 1px;
}

.task_top div:nth-child(1) {
    font-size: 22px;
    float: left;
    padding: 7px 8px;
    width: calc(100% - 37px - 16px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task_top div:nth-child(2) {
	float: left;
	padding: 4px 3px;
	padding-top: 4px;
	cursor: pointer;
}

.task_top div:nth-child(2) i {
	font-size: 31px;
}

.task_status {
    overflow: hidden;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-color: #c3c3c3;
	background-color: #f1f1f1;
	padding-left: 2px;
    padding-right: 2px;
}

.task_status div:nth-child(3) {
    margin: 6px;
    float: left;
    width: calc(100% - 12px);
    background: linear-gradient(to right, #1088ff, #ad19d2 83.33%, #d2d2d2 0%);
    height: 4px;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 7px;
}

.task_status div:nth-child(2) i {
	vertical-align: top;
    font-size: 19px;
    padding-top: 0px;
    padding-left: 1px;	
}

.task_status div:nth-child(2) {
	float: left;
    font-size: 18px;
    padding: 6px;
	width: 90px;
	padding-right: 7px;
	text-align: right;
}

.task_status div:nth-child(1) {
    float: left;
    font-size: 18px;
    padding: 6px;
    width: calc(100% - 103px - 12px);
}

.task_items {
    padding-bottom: 4.5px;
    padding-top: 7px;
}

.task_item {
	overflow: hidden;
	cursor: pointer;
}

.task_item i:nth-child(1) {
    float: left;
    font-size: 27px;
    padding: 7px 6px;
    padding-left: 7px;
}

.task_item i:nth-child(3) {
    padding: 0;
    font-size: 29px;
    color: gray;
    padding-left: 5px;
	display: none;
	opacity: 0;
	float: left;
}

.edit_list .task_item i:nth-child(3) {
	display: block;
}

.task_item textarea:focus + i:nth-child(3) {
	opacity: 1;
}

.edit_list .task_item i:nth-child(1) {
    font-size: 30px;
    margin-bottom: -1px;
    padding: 5px 4px;
    padding-left: 6px;
}

.task_item div {
    font-size: 20px;
    float: left;
    line-height: 24px;
    width: calc(100% - 40px);
    padding-top: 2px;
}

.edit_list .task_item div {
    width: calc(100% - 87px);
    padding: 9px 0px;
}

.task_item textarea {
    font-size: 20px;
    float: left;
    line-height: 24px;
    width: calc(100% - 44px);
    padding-top: 3px;
    margin: 0;
    border: none;
    outline: none;
    font-family: 'roboto', sans-serif;
    height: 0px;
	resize: none;
	padding-bottom: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit_list .task_item textarea {
    width: calc(100% - 87px);
}

.add_item {
    color: black;
}

.add_item i {
    padding: 0px 5px;
    font-size: 27px;
    padding-left: 7px;
    padding-top: 0px;
}

.task_edit {
    overflow: hidden;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-color: #c3c3c3;
    background-color: #f7f7f7;
    padding-left: 2px;
    padding-right: 2px;
    padding: 2px 2px;
}

.task_edit div:nth-child(1) {
    float: left;
    padding: 6px;
    font-size: 20px;
    color: #870000;
    width: calc(100% - 85px - 12px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task_edit div:nth-child(2) {
    float: right;
    padding: 2.5px 6px;
    font-size: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 7px;
    margin-top: 2px;
    color: #2081d6;
    margin-right: 6px;
	cursor: pointer;
}

.item_space {
	height: 42px;
}

.item_in_drag {
    position: fixed;
    z-index: 100;
    opacity: 0.9;
    width: calc(100vw - 18px);
    box-shadow: 0px 1.5px 11px 0px grey;
    background: white;
}

.error_gray {
padding: 0px 15px;
/* padding-top: calc(50vh - 150px); */
color: var(--btext);
font-size: 20px;
text-align: center;
top: 48%;
transform: translate(-50%,-50%);
position: absolute;
left: 50%;
width: calc(100% - 30px);
color:gray;
}

.error_gray .material-icons {
font-size: 100px;
}

.po_item {
    height: 50px;
    margin-top: 10px;
	padding-bottom: 2px;
}

.po_left {
    float: left;
    width: calc(100% - 75px);
}

.po_left div:nth-child(1) {
    font-size: 20px;
    padding-top: 1px;
}

.po_left div:nth-child(2) {
    font-size: 17px;
    padding-top: 2px;
}

.po_right {
    font-size: 24px;
    vertical-align: middle;
    line-height: 49px;
    float: left;
    width: 75px;
	text-align: right;
}

.po_right i {
    font-size: 28px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-righT: 4px;
}

@media (min-width: 860px) {
#home_content {
    min-width: unset !important;
    height: 100%;
    max-width: 600px;
    margin-left: calc(50% - 300px);
}
}

@keyframes spin_twice {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}

.spin_twice {
	animation: 1s spin_twice forwards;
	transform-origin: 50% 49.6%;
}

.lead_user {
    overflow: hidden;
    height: 42px;
    margin-bottom: 10px;
}

.lead_user div:nth-child(1) {
    float: left;
    font-size: 18px;
    line-height: 30px;
    padding-top: 8px;
    width: 48px;
    text-align: left;
}

.lead_user div:nth-child(2) {
    float: left;
    width: 42px;
}

.lead_user div:nth-child(2) img {
    height: 42px;
    border-radius: 30px;
}

.lead_user div:nth-child(3) {
    font-size: 20px;
    float: left;
    line-height: 43px;
    padding-left: 12px;
    width: calc(100% - 42px - 73px - 20px - 42px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lead_user div:nth-child(4) {
    float: left;
    font-size: 20px;
    line-height: 25px;
    padding-top: 8px;
    width: 73px;
    text-align: right;
}

.lead_user div:nth-child(4) i {
    font-size: 26px;
    vertical-align: top;
    padding-left: 2px;
}

.active_tab {
    font-weight: bold;
}

.active_tab .ac_line {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}