
.icon-icons8-school-building:before { content: '\30'; } /* '0' */
.icon-podium:before { content: '\31'; } /* '1' */
.icon-close-box:before { content: '\32'; } /* '2' */
.icon-check-box-outline:before { content: '\33'; } /* '3' */